/*

        global style sheet

*/

//      global colors

$red: #ff0000;
$purple: #7510f7;
$black: #17141a;
$white: #ffffff;
$pink: #feadad;
$grey: #4e4e4e;
$light-grey: #f4f4f4;

$big-radius: 41px;
$small-radius: 7px;
